.BoxItem {
    display: flex; /* Para alinear elementos horizontalmente */
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
    gap: 10px; /* Espacio entre imagen y descripción */
}

#menuItem {
    width: 67px; /* Tamaño fijo o ajustable */
    height: 100px; /* Mismo valor que width para mantenerlo cuadrado */
    object-fit: cover; /* Para asegurar que la imagen llena el contenedor sin distorsionarse */
    border-radius: 8px; /* Opcional: redondear esquinas */
}

.BoxDescription {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar texto verticalmente */
    flex: 1;
}

.Buttons {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre botones */
}

.itemCount {
    padding: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
